# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Large datasets
data/
datasets/

# Model checkpoints
*.pth
saved_paths/

# Logs
*.txt

# Archives
*.zip
*.tar
*.gz

# Large images
*.png